html, body, div, p, span, text {
  font-family: Lato, sans-serif;
}

.leftlab {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.toplab {
  alignment-baseline: text-before-edge;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1em;
}

#universe {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height:60px;
}

#buffer {
  border:0 !important;
  text-align:center;
  height: 100%;
  width:205px;
}

.cat-title {
  float:left;
  font-weight:700;
  font-size:0.8em;
}

#cats {
  width: 796px;
  min-width:796px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height:32px;
}

#cats * div {
  vertical-align: middle;
  padding: 2px;
  margin: 2px;
  border:0.1px solid #b2b2b2;
  float: right;
}

#unknown {
  vertical-align: middle;
  padding: 2px;
  border: 0.1px solid #b2b2b2;
  width:100%;
  order:1;
  z-index: 1;
}
#all {
  width:80%;
  order:2;
  z-index: 2;
}
#vulndb {
  width: 70%;
  order:3;
  z-index: 3;
}
#cve {
  width: 50%;
  order:4;
  z-index: 100;
}

#container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
#left {
  display: flex; flex-direction: column; order: 1;
}
#left > div {
  height: 100%;
}

.ch3 {
  margin:0;
  width:100%;
  text-align: right;
  font-size:0.9em;
}

#foreign {
  border-top:0.1px solid #b2b2b2;
  padding-top:6px; margin-right:6px;
  order: 1;
  width: 200px;
}
#foss {
  border-top:0.1px solid #b2b2b2;
  padding-top:6px; margin-right:6px;
  order: 2;
  width: 200px;
}
#medical {
  border-top:0.1px solid #b2b2b2;
  padding-top:6px; margin-right:6px;
  order: 3;
  width: 200px;
}
#ics {
  border-top:0.1px solid #b2b2b2;
  padding-top:6px; margin-right:6px;
  order: 3;
  width: 200px;
}
#enterprise{
  border-top:0.1px solid #b2b2b2;
  padding-top:6px; margin-right:6px;
  order: 4;
  width: 200px;
}
#right { border: 0.5px solid #b2b2b2 display: flex; flex-direction: row; order: 2; }
#vis {
  border: 0.1px solid #b2b2b2;
  order: 1;
  min-width:800px;
  width:800px;
  height:600px;
}

